.heading-mono {
  font-family: heading-1;
}

.heading2-base {
  margin: 6px 0;
}

.body {
  font-family: body-text;
}

.body-mono {
  font-family: body-mono;
}

.base-body {
  margin: 0;
}

.text-tiny {
  font-size: 14px;
}

.align-start {
  text-align: start;
}

.align-center {
  text-align: center;
}
